body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4,70px);
    padding: 20px;
    background: white;
    border-radius: 10px;
}

#display {
    grid-column: 1/5;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    background: #222;
    display: flex;
    font-size: 35px;
    color: white;
}

button{
    height: 60px;
    font-size: 25px;
    cursor: pointer;
}